<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.typekit.net/mdr8lxf.css">
    <link rel="stylesheet" href="/styles/admin-contact.css">
    <title></title>
  </head>
  <body>
    <h1>Admin Contact Us</h1>
    <span id='startSection'></span>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src='scripts/admin-contact.js'></script>
  </body>
</html>
