<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/booking.css">
    <title>Booking Page</title>
  </head>
  <body>
<div class="hammer">
  <div class="face"></div>
  <div class="head"></div>
  <div class="handle"></div>
</div>
<img src="https://christinebongers.files.wordpress.com/2011/10/work-in-progress.gif" alt="work in progress">
<div class='img'>

    <h2>Waiting for Sckyscanner to provide API key</h2>

   <a href= '/'> <button class="button"><span>Main</span> </button></a> 
</div>
  </body>
</html>
