<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/contact.css">
  </head>
  <body>

    <h3>Contact Us</h3>

    <div class="container" id='OnSubmit'>
      <form>

        <br><label for="fname">First Name</label>
        <br><span id="fname" name="fname">{{ firstName }}</span>

        <br><label for="lname">Last Name</label>
        <br><span id="lname" name="lname">{{ lastName }}</span>

        <br><label for="mail">E-mail</label>
        <br><span id="mail" name="mail">{{ email }}</span>

        <br><label for="country">Country</label>
        <br><span id="country" name="country">{{ country }}</span>

        <br><label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Contact us" style="height:200px"></textarea>

        <input type="button" value="Submit" onclick="onSubmit()">
      </form>
    </div>
    <div id="New">Thank you for your comments! We will return to you as soon as we can!</div>
    <script type="text/javascript" src='scripts/contact.js'>
    </script>
  </body>
</html>
