<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles/contact.css">
</style>
</head>
<body>

<h3>Contact Us</h3>

<div class="container" id='OnSubmit'>
  <form action="/action_page.php">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="mail">E-mail</label>
    <input type="text" id="mail" name="mail" placeholder="Your e-mail..">

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="choose">	Choose your country</option>
      <option value="afghanistan">	Afghanistan</option>
      <option value="albania">Albania	</option>
      <option value="algeria">Algeria</option>
      <option value="andorra">Andorra</option>
      <option value="angola">Angola</option>
      <option value="argentina">Argentina</option>
      <option value="armenia">Armenia</option>
      <option value="australia">Australia</option>
      <option value="austria">Austria</option>
      <option value="bahamas">Bahamas</option>
      <option value="belgium">Belgium</option>
      <option value="bolivia">Bolivia</option>
      <option value="brazil">Brazil</option>
      <option value="bulgaria">Bulgaria</option>
      <option value="canada">Canada</option>
      <option value="chile">Chile</option>
      <option value="china">China</option>
      <option value="colombia">Colombia</option>
      <option value="congo ">Congo</option>
      <option value="costa-rica	">Costa Rica</option>
      <option value="croatia">Croatia</option>
      <option value="cuba">Cuba</option>
      <option value="denmark">Denmark</option>
      <option value="dominican-republic">Dominican Republic</option>
      <option value="ecuador">Ecuador</option>
      <option value="egypt">Egypt</option>
      <option value="finland">Finland</option>
      <option value="france">France</option>
      <option value="china">China</option>
      <option value="colombia">Colombia</option>
      <option value="congo ">Congo</option>
      <option value="costa-rica	">Costa Rica</option>
      <option value="croatia">Croatia</option>
      <option value="cuba">Cuba</option>
      <option value="denmark">Denmark</option>
      <option value="dominican-republic">Dominican Republic</option>
      <option value="ecuador">Ecuador</option>
      <option value="egypt">Egypt</option>
      <option value="finland">Finland</option>
      <option value="france">France</option>
      <option value="germany">Germany</option>
      <option value="ghana">Ghana</option>
      <option value="greece ">Greece</option>
      <option value="guatemala">Guatemala</option>
      <option value="guinea">Guinea</option>
      <option value="guyana">Guyana</option>
      <option value="honduras">Honduras</option>
      <option value="hungary">Hungary</option>
      <option value="iceland">Iceland</option>
      <option value="india">India</option>
      <option value="indonesia">Indonesia</option>
      <option value="iran">Iran</option>
      <option value="iraq">Iraq</option>
      <option value="ireland">Ireland</option>
      <option value="israel ">Israel</option>
      <option value="italy">Italy</option>
      <option value="jamaica">Jamaica</option>
      <option value="japan">Japan</option>
      <option value="luxembourg">Luxembourg</option>
      <option value="madagascar">Madagascar</option>
      <option value="malaysia">Malaysia</option>
      <option value="maldives	">Maldives</option>
      <option value="mexico">Mexico</option>
      <option value="mongolia">Mongolia</option>
      <option value="netherlands">Netherlands</option>
      <option value="new-zealand">New Zealand</option>
      <option value="nicaragua ">Nicaragua</option>
      <option value="nigeria">Nigeria</option>
      <option value="north-korea">North Korea</option>
      <option value="pakistan">Pakistan</option>
      <option value="panama">Panama</option>
      <option value="peru">Peru</option>
      <option value="philippines">Philippines</option>
      <option value="poland">Poland</option>
      <option value="portugal">Portugal</option>
      <option value="qatar">Qatar</option>
      <option value="romania">Romania</option>
      <option value="russia">Russia</option>
      <option value="saudi-arabia ">Saudi Arabia</option>
      <option value="senegal">Senegal</option>
      <option value="serbia">Serbia</option>
      <option value="singapore">Singapore</option>
      <option value="slovakia">Slovakia</option>
      <option value="slovenia">Slovenia</option>
      <option value="south-africa">South Africa</option>
      <option value="south-korea">South Korea</option>
      <option value="spain">Spain</option>
      <option value="sudan">Sudan</option>
      <option value="swaziland">Swaziland</option>
      <option value="switzerland">Switzerland</option>
      <option value="thailand">Thailand</option>
      <option value="uganda">Uganda</option>
      <option value="ukraine">Ukraine</option>
      <option value="united-kingdom">United Kingdom</option>
      <option value="USA">United States of America</option>
      <option value="uruguay">Uruguay</option>
      <option value="uzbekistan">Uzbekistan</option>
      <option value="venezuela">Venezuela</option>
      <option value="vietnam">Vietnam</option>
      <option value="yemen">Yemen</option>
      <option value="zambia">Zambia</option>
      <option value="zimbabwe">Zimbabwe</option>
      <option value="other">Other</option>
      </select>
    <input type="text" id="other" name="other" placeholder="Other country">

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="button" value="Submit" onclick="onSubmit()">



  </form>

</div>
<div id="New">Thank you for your response! We will return to you as soon as we can!</div>
  <script type="text/javascript" src='scripts/contact.js'>
  </script>
</body>
</html>
