<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/currency.css">
    <title>Currency Page</title>
  </head>
  <body>
      <div class="navbar">
          <p>TRAVEL PORTAL</p>
          <!-- <a href="#contact">Contact</a> -->
      </div>
    <div class="currency">
  <main>Currency</main></div>
    <form>
      <div class="caption">
        <span><p>Wondering just how much foreign currency you might need for your next trip?</p>
        <p>See how much foreign currency you can get for your money in the currency converter below</p></span>
        </div>
        <div class="value">
            <span>Enter Value:</span>
            </div>
      <div id='initial'>
        <input type='text 'name='value' id='inputValue'>
        <select id='initialCurrency'>
          <option value='select' id='selectInitial'>Select</option>
        </select>
      </div>
      <div id='conversion'>
        <span id='conversionResult'> new value </span>
        <select id='conversionCurrency'>
          <option value='select' id='selectConversion'>Select</option>
        </select>
      </div>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src='scripts/currency.js'>
    </script>
  </body>
