<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/currency.css">
    <title>Currency Page</title>
  </head>
  <body>
    <form>
      <div id='initial'>
        <input type='text 'name='value' id='inputValue'>
        <select id='initialCurrency'>
          <option value='select' id='selectInitial'>Select</option>
        </select>
      </div>
      <div id='conversion'>
        <span id='conversionResult'>$ ? </span>
        <select id='conversionCurrency'>
          <option value='select' id='selectConversion'>Select</option>
        </select>
      </div>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src='scripts/currency.js'>
    </script>
  </body>
</html>
