<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.typekit.net/mdr8lxf.css">
    <link rel="stylesheet" href="/styles/profile.css">
    <title></title>
  </head>
  <body>
    <h1>SIGN IN</h1>

    <section>
    <div class="container" id='OnSubmit'>
      <form action="/profile" method='post'>
        <p><label for="first_name">First Name</label></p>
        <input type="text" id="first_name" name="first_name" placeholder="Your name..">

        <p><label for="last_name">Last Name</label></p>
        <input type="text" id="last_name" name="last_name" placeholder="Your last name..">

        <p><label for="country">Country</label></p>
        <select id="country" name="country">
          <option id='selectCountry' value='selectCountry'>Select</option>
        </select>

        <p><label for="city">City</label></p>
        <input type="text" id="city" name="city" placeholder="City">

        <p><label for="currency">Currency</label></p>
        <select id="currency" name="currency">
          <p><option id='selectCurrency' value='selectCurrency'>Select</option>
        </select></p>
        
        <!-- <label for="language">Language</label>
        <select id="language" name="language">
          <option id='selectLanguage' value='selectLanguage'>Select</option>
        </select> -->

        <input type ='submit'>
      </form>
    </div>
      
        </section>
    
        <div class="image">
            <img src= "https://i.pinimg.com/564x/b0/cc/a1/b0cca1f02f1d0f5285bd56fdcb04d2ff.jpg" alt="image" height=500vh width=400vh >
     </div>
    <div class="bio1">
      <p>Arcosanti, Arizona</p>
    </div>
    <div class="bio2">
      <p>   Arcosanti is a projected experimental town with a molten bronze bell casting business in Yavapai County, central Arizona, 70 mi north of Phoenix, at an elevation of 3,732 feet. Its arcology concept was posited by the Italian-American architect, Paolo Soleri.</p>
    </div>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src='scripts/profile.js'></script>
  </body>
  <footer>
  This site is &copyAPOLLOTRAVEL 2019
</footer>
</html>
