<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Main Page</title>
  </head>
  <body>
    <h1>Welcome</h1>

  <div class="grid-container">
    <div class="grid-item">Booking</div>
    <div class="grid-item">Weather</div>
    <div class="grid-item">Currency Exchanges</div>
    <div class="grid-item">Translator</div>
  </div>

    <!-- <h1> Booking</h1>
    <h1>Weather</h1>
    <h1>Currency Exchanges</h1>
    <h1>Translator</h1> -->

  </body>
</html>
