<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="scripts/main.js">

    </script>
    <title>Main Page</title>
    <header class="welcome">
  <div id="welcome">Welcome!</div>
</header>
<div class="booking menu">
  <main>Booking</main></div>
<div class="translator menu">
  <main>Translator</main></div>
<div class="currency menu">
  <!-- currency Exchange -->
  <main>Currency Exchange</main></div>
<div class="weather menu">
  <main>Weather</main></div>

<footer>
  This site is &copy
</footer>
</html>
