<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/translator.css">
    <title>Translator Page</title>
  </head>
  <body>
    <h1>Translator Page</h1>
    <section>
      <textarea name='inputBox' id='inputBox' rows="10" cols="30">Type text to translate</textarea>
			<button id='translateButton'>Translate</button>
      <textarea name='resultBox' id='resultBox' rows="10" cols="30">Translation</textarea>
    </section>
    <script type="text/javascript" src='scripts/translate.js'>
    </script>
  </body>
</html>
