<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.typekit.net/mdr8lxf.css">
    <link rel="stylesheet" href="/styles/translator.css">
    <title>Translator Page</title>
    <header id='header'>
        <nav>
          <ul>
            <li><a href="/">MAIN</a></li>
            <li><a href="/booking">BOOKING</a></li>
            <li><a href="/translate">TRANSLATOR</a></li>
            <li><a href="/currency-exchange">CURRENCY EXCHANGE</a></li>
            <li><a href="/weather">WEATHER</a></li>
            <li><a href="/contact-us">CONTACT US</a></li>
          </ul>
        </nav>
      </header>
  </head>
  <body>
      <div class="translate">
          <main><p>TRANSLATE</p></main></div>
    <section>
      <select id ='inputLang'>
        <option id='detectedLang'>Detected Language</option>
        <option id='autoLang'>{{ autoLang }}</option>
      </select>
      <p><textarea name='inputBox' id='inputBox' rows="10" cols="30">Type text to translate</textarea></p>
      <p><textarea name='resultBox' id='resultBox' rows="10" cols="30">Translation</textarea></p>
      <select id ='outputLang'>
        <p><option id='de' value='de'>Deutsch</option></p>
      </select>
      <div class="caption">
          <p>Wondering how to say your favorite phrases in a new place?</p>
            <p>Test out new languages in the translator above </p>
          </div>
    </section>
    <div class="image">
            <img src= "https://i.pinimg.com/564x/93/f4/80/93f48007ae7ff3c63af31dc786de2982.jpg" alt="image" height=500vh width=450vh >
     </div>
    <div class="bio1">
      <p>Saint-Jean-sur-Richelieu, Quebec</p>
    </div>
    <div class="bio2">
      <p>   Saint-Jean-sur-Richelieu is a city in eastern Montérégie in the Canadian province of Quebec, about 40 kilometres southeast of Montreal. It is situated on the west bank of the Richelieu River at the northernmost navigable point of Lake Champlain. As of 2016 the population of Saint-Jean-Sur-Richelieu was 95,114.</p>
    </div>
    <script type="text/javascript" src='scripts/translate.js'>
    </script>
<footer>
  This site is &copyAPOLLOTRAVEL 2019
</footer>
  </body>
</html>
