body {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 200px 300px 300px 60px;
    grid-gap: .3em;
    background-color: white;
  }

/* span{
    background-color: #E1EAE9;
  } */

  header,
  footer {
    grid-column: 1 / span 2;
  }


  .menu {
  transition: transform .2s;
  }

  .menu:hover {
    -ms-transform: scale(1.04);
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
  }

  body {
    margin: 0 auto;
    max-width: 100%;
    background: linear-gradient(white, #E1EAE9);
  }

  header {
    background-color: #C7D5DA;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }


  #header {
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: #C7D5DA;
    position: fixed;
    top: 0;
    overflow: hidden;
  }

  nav {
    float: left;
  }
  
  nav ul {
    list-style: none;
    overflow: hidden;
  }
  
  nav ul li {
    float: left;
    font-family: kepler-std-semicondensed-dis,serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    background-color: #C7D5DA;
  }
  
  nav ul li a {
    display: block;
    padding: 10px;
    color: #013B52;
    text-decoration: none;
  }
  
  nav ul li:hover {
    background: lightgrey;
  }
  
  * {
    padding: 0;
    margin: 0;
  }
  

  .booking,
  .translator,
  .currency,
  .weather{
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .welcome {
/*      background-image: url("https://images.pexels.com/photos/1574650/pexels-photo-1574650.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */
     opacity: 1;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     color: #7C9AA6;
     font-family: josefin-sans,sans-serif;
     font-weight: 700;
     font-style: normal;
     font-size: 80px;
     display: flex;
     justify-content: flex-start;
     align-items: center;
   }

   #welcome {
     margin-left: 60px;
   }

  .booking{
    background-image: url("https://i.pinimg.com/564x/21/12/3d/21123d4d8f3670976b7691daf6b2d1e2.jpg");
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 50px;
    color: white;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-family: kepler-std-semicondensed-dis, serif;
    font-weight: 700;
    font-style: normal;
    color: white;
  text-shadow:
   -1px -1px 0 #013B52,  
    1px -1px 0 #013B52,
    -1px 1px 0 #013B52,
     1px 1px 0 #013B52;
}

.translator {
  background-image: url("https://i.pinimg.com/564x/99/5a/10/995a104e16c2466913213417bf6ae9a1.jpg");
  opacity: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 50px;
  color: white;
  /* text-shadow: 2px 2px 4px black; */
  margin-left: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 10px;
  font-family: kepler-std-semicondensed-dis, serif;
    font-weight: 700;
    font-style: normal;
  color: white;
  text-shadow:
   -1px -1px 0 #013B52,  
    1px -1px 0 #013B52,
    -1px 1px 0 #013B52,
     1px 1px 0 #013B52;
}

  .currency {
    background-image: url("https://i.pinimg.com/564x/e2/1b/15/e21b15e4c97475a17e6a4a4a2bb4ef57.jpg");
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 50px;
    color: white;
    /* text-shadow: 2px 2px 4px black; */
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 5px;
    font-family: kepler-std-semicondensed-dis, serif;
    font-weight: 700;
    font-style: normal;
    color: white;
  text-shadow:
   -1px -1px 0 #013B52,  
    1px -1px 0 #013B52,
    -1px 1px 0 #013B52,
     1px 1px 0 #013B52;
  }

  .weather {
    background-image: url("https://i.pinimg.com/564x/3d/69/07/3d6907cc2a84eceb107f09d8d877e1f7.jpg");
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 50px;
    color: white;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 5px;
    font-family: kepler-std-semicondensed-dis, serif;
    font-weight: 700;
    font-style: normal;
    color: white;
  text-shadow:
   -1px -1px 0 #013B52,  
    1px -1px 0 #013B52,
    -1px 1px 0 #013B52,
     1px 1px 0 #013B52;
  }

  footer{
     background: none;
     display: flex;
     align-items: center;
     justify-content: center;
     color: black;
     font-family: kepler-std-semicondensed-dis, serif;
    font-weight: 700;
    font-style: normal;
  }